<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Routing:</h3>
            <app-routing></app-routing>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Assignment 1:</h3>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Assignment 2:</h3>
            <app-username></app-username>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Assignment 3:</h3>
            <app-assignment3></app-assignment3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Assignment 4:</h3>
            <app-assignment4></app-assignment4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Assignment 5:</h3>
            <app-assignment5></app-assignment5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Assignment 6:</h3>
            <app-assignment6></app-assignment6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Assignment 7:</h3>
            <app-assignment7></app-assignment7>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Servers:</h3>
            <app-servers></app-servers>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>New server:</h3>
            <app-servernew></app-servernew>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Directives:</h3>
            <app-directive></app-directive>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Acount stuff:</h3>
            <app-account></app-account>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Observables:</h3>
            <app-observables></app-observables>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Template driven form:</h3>
            <app-td-form></app-td-form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Reactive form:</h3>
            <app-reactive-form></app-reactive-form>
        </div>
    </div>
</div>